<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ITrendingService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49357/TrendingService.svc/Trending"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITrendingService"
                contract="ServiceReference1.ITrendingService" name="WSDualHttpBinding_ITrendingService">
                <identity>
                    <userPrincipalName value="DESKTOP-L1KE4B2\computer" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>