<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDatabaseManagerService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49357/DatabaseManagerService.svc/DatabaseManager"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDatabaseManagerService"
                contract="ServiceReference1.IDatabaseManagerService" name="WSHttpBinding_IDatabaseManagerService">
                <identity>
                    <userPrincipalName value="VALENTINA\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>